
input[type = button]{
	-webkit-appearance:default-button;
		height: 75px;
         width: 75px;
         font-size: 3.9em;
         background-color:  rgba(0, 0, 0, 0.77);
	}
	#inp{
		float:left;
	}
	.dwn {
		margin-bottom: 5px;
	}
	#resault{ 
		position: relative;
		left:20px; 
	border: 2px solid #ffffff;
		height: 75px;
		 width:  150px;
		 text-align: center;
		 font-size: 1.6em;
		 color: silver;
}
#restart{
	position: relative;
	-webkit-appearance:default-button;
	width:  75px;
	height: 25px;
	left:60px;
	display: none;
	background-color: rgba(0, 0, 0, 0.77);
	color : white;
}