*{
	background-color: #c0bbbb;
}
input[type = button]{
	-webkit-appearance:default-button;
		height: 75px;
         width: 75px;
         font-size: 3.9em;
	}
	.inp{
		float:left;
	}
	.dwn {
		margin-bottom: 5px;
	}
	#resault{ 
		position: relative;
		left:20px; 
	border: 2px solid #c0bbbb;
		height: 75px;
		 width:  150px;
		 text-align: center;
		 font-size: 1.6em;
}
#restart{
	position: relative;
	-webkit-appearance:default-button;
	width:  75px;
	height: 25px;
	left:60px;
	display: none;
}